@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tere tulemast Houstoni ülikooli!</h1>
    <a href="https://www.uh.edu/">
        <img src="https://i.pinimg.com/736x/d6/eb/e4/d6ebe4f275c9c6dcee9d399233019c01.jpg" alt="Alternate Text" />
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>